// importy
@import "_vars.scss";

// container




// nav

.nav {
    width: 100%;
}


.nav__list {
    text-align: center;

    .nav__link {
        font-size: 1em;

    }


}

.nav__list-item {
    display: inline-block;
    padding: 10px;

    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    flex-direction: column;
    float: left;
    display: block;
    margin-bottom: 2vw;

}

.article__titleWitaj {
    text-align: left;
    color: #005DFF;
    // background-color: $art_background;
    // background-size: auto;

    width: 30%;
    margin-left: 5%;
    margin-top: 8vw;
    font-size: 2em;
    margin-bottom: 0;
}

.article__text {
    margin-inline: 1%;
    padding: 2%;
    font-size: 1.1em;
    margin-bottom: 5em;

    float: left;
    width: 40%;
    display: block;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0;
    height: 40vh;
}

.sectionTOP__instagram {
    float: left;
    width: 30%;
    margin-left: 10%;
    padding: 0;
    padding-top: 0;
    margin-top: 1%;

}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 8em;
}

.sectionBOTTOM__article {
    margin-top: 7em;
    margin-bottom: 0vw;
}

.article__titleKIM {
    font-size: 1.5em;
    margin-inline: 1em;
    // margin-top: 2.5vh;
    margin-bottom: 4vw;
    margin-top: 5em;

}

.article__img {
    width: 40%;
    float: left;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 15%;

    margin-inline: 5%;
}

// MAIN - footer

.footer {
    display: flex;
    width: 100%;
    padding: 2%;
    margin-top: 1vw;

}

.footer__text {
    padding: 1%;
    width: 100%;
    font-size: 0.8em;
}

///////////////////////////////      PORTFOLIO       ///////////////////////////////////////


.article-port {
    margin-inline: 1%;
    padding: 2%;
    font-size: 1.1em;
    margin-bottom: 5em;

    float: left;
    width: 40%;
    display: block;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0;
    height: 40vh;
}



.article__title {
    width: 100%;
    text-align: center;
    color: #019CD5;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article__text-port {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    padding: 2%;
}




.section-grid__podpis {
    display: flex;
    justify-content: center;
    background-color: $art_background;
    margin: 0.8vw;
    padding: 1vw;
    text-align: center;
    font-size: 1vw;
}


.section-grid {

    margin-inline: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "ZDJ1 ZDJ2 ZDJ3"
        "ZDJ4 ZDJ5 ZDJ6";

}


.section-grid__zdj1,
.section-grid__zdj2,
.section-grid__zdj3,
.section-grid__zdj4,
.section-grid__zdj5,
.section-grid__zdj6 {
    width: 15vw;
    margin-inline: 5vw;
}