// nav
.nav_list {
    .nav_link {
        font-size: 1em;
    }


}

.nav_list-item {
    padding: 10px;
    border-right: 1px solid transparent;
    box-shadow: $nav_shadow;


    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article_titleWitaj {
    width: 100%;
    text-align: center;
    color: #005DFF;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article_text {
    text-align: justify;
    background-color: $art_background;
    color: $text_color;


    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}

.sectionTOP_instagram {
    width: 100%;
    padding: 10%;
}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 10em;
}

.article_titleKIM {
    text-align: center;
    color: #C0FF53;

    font-size: 1.5em;
    margin-inline: 1em;

}

.article_img {
    padding: 20%;
}

// MAIN - footer

.footer {
    width: 100%;
    padding: 3%;
}

.footer_text {
    background-color: $art_background;
    padding: 2%;
    color: $text_color;
}