// importy
@import "_vars.scss";

// container


.container {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vw;
}


// nav

.nav {
    width: 100%;
}


.nav__list {
    text-align: center;

    .nav__link {
        font-size: 1em;
    }


}

.nav__list-item {
    display: inline-block;
    padding: 10px;

    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    flex-direction: column;
    float: left;
    display: block;
    margin-bottom: 8vw;
}

.article__titleWitaj {
    text-align: left;
    color: #005DFF;
    // background-color: $art_background;
    // background-size: auto;

    width: 30%;
    margin-left: 5%;
    margin-top: 8vw;
    font-size: 2em;
    margin-bottom: 0;
}

.article__text {
    margin-inline: 1%;
    padding: 2%;
    font-size: 1em;
    margin-bottom: 5em;

    float: left;
    width: 40%;
    display: block;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0;
}

.sectionTOP__instagram {
    float: left;
    width: 30%;
    margin-left: 10%;
    padding: 0;
    padding-top: 0;
    margin-top: 1%;

}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 8em;
}

.sectionBOTTOM__article {
    margin-top: 0vw;
    margin-bottom: 1vw;
}

.article__titleKIM {
    font-size: 1.5em;
    margin-inline: 1em;
    // margin-top: 2.5vh;
    margin-bottom: 4vw;

}

.article__img {
    width: 40%;
    float: left;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 15%;

    margin-inline: 5%;
}

// MAIN - footer

.footer {
    display: flex;
    width: 100%;
    padding: 2%;
    margin-top: 1vw;

}

.footer__text {
    padding: 1%;
    width: 100%;
    font-size: 0.8em;
}