// importy
@import "_vars.scss";

// container




// nav

.nav {
    width: 100%;
}


.nav__list {
    text-align: center;

    .nav__link {
        font-size: 1em;
    }


}

.nav__list-item {
    display: inline-block;
    padding: 10px;

    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    width: 100%;
    flex-direction: column;
    float: left;
    display: block;
    margin-bottom: 3vw;
}

.article__titleWitaj {
    width: 100%;
    text-align: center;
    color: #005DFF;
    // background-color: $art_background;
    // background-size: auto;

    margin-top: 0.4em;
    font-size: 2em;
    margin-bottom: 0.5vw;
}

.article__text {
    margin-inline: 1%;
    padding: 2%;
    font-size: 1em;
    margin-bottom: 5em;

    float: left;
    width: 40%;
    display: block;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
}

.sectionTOP__instagram {
    float: left;
    width: 20%;
    margin-inline: 10%;
    padding: 5%;
    padding-top: 0;
    margin-top: 5%;

}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 10em;
}

.sectionBOTTOM__article {
    margin-top: 6vw;
}

.article__titleKIM {
    font-size: 1.5em;
    margin-inline: 1em;
    // margin-top: 2.5vh;

}

.article__img {
    width: 40%;
    float: left;
    padding: 7%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-inline: 5%;
}

// MAIN - footer

.footer {
    display: flex;
    width: 100%;
    padding: 3%;
    padding-top: 0;
}

.footer__text {
    padding: 2%;
    width: 100%;
    font-size: 0.8em;
}



///////////////////////////////      PORTFOLIO       ///////////////////////////////////////



.article__title {
    width: 100%;
    text-align: center;
    color: #019CD5;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article__text-port {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

.section-grid__podpis {
    display: flex;
    justify-content: center;
    background-color: $art_background;
    margin: 2vw;
    text-align: center;
    font-size: 2vw;
}