// importy
@import "_vars.scss";

// container




// nav

.nav {
    width: 100%;
}


.nav__list {
    text-align: center;

    .nav__link {
        font-size: 0.9em;
    }


}

.nav__list-item {
    display: inline-block;
    padding: 10px;

    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article__titleWitaj {
    width: 100%;
    text-align: center;
    color: #005DFF;

    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article__text {
    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}

.sectionTOP__instagram {

    width: 80%;
    margin-inline: 10%;
    padding: 10%;
}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 8em;
}

.article__titleKIM {
    font-size: 1.5em;
    margin-inline: 1em;

}

.article__img {
    padding: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

// MAIN - footer

.footer {
    width: 100%;
    padding: 3%;
}

.footer__text {
    padding: 2%;
}




///////////////////////////////      PORTFOLIO       ///////////////////////////////////////



.article__title {
    width: 100%;
    text-align: center;
    color: #019CD5;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}


.article__text-port {
    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}


.section-grid__podpis {
    display: flex;
    justify-content: center;
    background-color: $art_background;
    margin: 2vw;
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
}

.section-grid {

    margin-inline: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "ZDJ1"
        "ZDJ2"
        "ZDJ3"
        "ZDJ4"
        "ZDJ5"
        "ZDJ6";

}


.section-grid__zdj1,
.section-grid__zdj2,
.section-grid__zdj3,
.section-grid__zdj4,
.section-grid__zdj5,
.section-grid__zdj6 {
    width: 80vw;
    // margin-inline: 5vw;
}

.section-grid__article1 {
    grid-area: ZDJ1;
}

.section-grid__article2 {
    grid-area: ZDJ2;
}

.section-grid__article3 {
    grid-area: ZDJ3;
}

.section-grid__article4 {
    grid-area: ZDJ4;
}

.section-grid__article5 {
    grid-area: ZDJ5;
}

.section-grid__article6 {
    grid-area: ZDJ6;
}