//.
$text_color: #505050;


//nav

$nav_color: rgba(255, 255, 255, 0.8);
$nav_shadow: 1px 1px 5px black;

$nav_butt-color: rgba(255, 255, 255, 1);
$nav_butt-colorHover: rgba($color: #cecece, $alpha: 1);

//article

$art_background: rgba(255, 255, 255, 0.8);