* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


// importy
@import "_vars.scss";




// container




// nav

.nav {
    width: 100%;
    background-color: $nav_color;
}


.nav__list {
    box-shadow: $nav_shadow;
    text-align: center;

    :hover {
        background-color: $nav_butt-colorHover;
    }

    .nav__link {
        text-decoration: none;
        color: $text_color;
        font-weight: bold;

        font-size: 0.9em;
    }


}

.nav__list-item {
    display: inline-block;
    background-color: $nav_butt-color;
    padding: 10px;
    border-right: 1px solid transparent;
    box-shadow: $nav_shadow;


    margin-inline: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

// MAIN - section TOP 

.article {
    display: flex;
    flex-direction: column;
}

.article__titleWitaj {
    text-align: center;
    color: #005DFF;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article__text {
    text-align: justify;
    background-color: $art_background;
    color: $text_color;


    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}

.sectionTOP__instagram {
    width: 100%;
    padding: 10%;
}

// MAIN - section BOTTOM

.sectionBOTTOM {
    margin-top: 10em;
}

.article__titleKIM {
    text-align: center;
    color: #C0FF53;

    font-size: 1.5em;
    margin-inline: 1em;

}

.article__img {
    padding: 20%;
}

// MAIN - footer

.footer {
    width: 100%;
    padding: 3%;
}

.footer__text {
    background-color: $art_background;
    padding: 2%;
    color: $text_color;
}


///////portfolio


///article


.article-port {
    text-align: justify;
    background-color: $art_background;
    color: $text_color;


    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}


.article__title {
    width: 100%;
    text-align: center;
    color: #019CD5;


    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 1em;
}

.article__text-port {
    text-align: justify;
    background-color: $art_background;
    color: $text_color;

    margin-inline: 10%;
    padding: 4%;
    font-size: 1em;
    margin-bottom: 5em;
}

.section-grid__podpis {
    display: flex;
    justify-content: center;
    background-color: $art_background;
    margin: 2vw;
    text-align: center;
    font-size: 4vw;
    padding: 2vw;
}

.section-grid {

    margin-inline: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "ZDJ1"
        "ZDJ2"
        "ZDJ3"
        "ZDJ4"
        "ZDJ5"
        "ZDJ6";

}


.section-grid__zdj1,
.section-grid__zdj2,
.section-grid__zdj3,
.section-grid__zdj4,
.section-grid__zdj5,
.section-grid__zdj6 {
    width: 80vw;
}

.section-grid__article1 {
    grid-area: ZDJ1;
}

.section-grid__article2 {
    grid-area: ZDJ2;
}

.section-grid__article3 {
    grid-area: ZDJ3;
}

.section-grid__article4 {
    grid-area: ZDJ4;
}

.section-grid__article5 {
    grid-area: ZDJ5;
}

.section-grid__article6 {
    grid-area: ZDJ6;
}



@media (min-width: 520px) {
    @import "_rwd520px.scss";
}

@media (min-width: 650px) {
    @import "_rwd650px.scss";
}

@media (min-width: 820px) {
    @import "_rwd820px.scss";
}

@media (min-width: 865px) {
    .article__titleKIM {
        margin-top: 12vh;

    }

}

@media (min-width: 960px) {
    @import "_rwd960px.scss";
}

@media (min-width: 1200px) {
    @import "_rwd1200px.scss";
}

@media (min-width: 1450px) {
    @import "_rwd1450px.scss";
}

@media (min-width: 1610px) {
    @import "_rwd1610px.scss";
}